// 2 mixins
.center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-img() {
    .blast {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .sky {
        display: none;
      }

      .launch {
        display: none;
      }
}

// Parametric mixin
.sign-up(@background; @color) {
    background: @background;
    color: @color;
    border-radius: 5px;

    &:hover {
        background: @color;
        color: @background;
        border: 1px solid @background;
        transition: 0.2s;
    }
}